pkgbase = codeberg-cli
	pkgdesc = CLI Tool for Codeberg similar to gh and glab
	pkgver = 0.4.6
	pkgrel = 1
	url = https://codeberg.org/Aviac/codeberg-cli
	arch = x86_64
	license = AGPL3
	makedepends = cargo
	depends = gcc-libs
	depends = openssl
	options = !lto
	source = codeberg-cli-0.4.6.tar.gz::https://static.crates.io/crates/codeberg-cli/codeberg-cli-0.4.6.crate
	sha256sums = e95c41ffd5cb6566a2daefbc4a2c391b9daee5d9c0df5b1e7105c55a72e43356

pkgname = codeberg-cli
