pkgbase = codeberg-cli
	pkgdesc = CLI Tool for Codeberg similar to gh and glab
	pkgver = 0.4.9
	pkgrel = 1
	url = https://codeberg.org/Aviac/codeberg-cli
	arch = x86_64
	license = AGPL3
	makedepends = cargo
	depends = gcc-libs
	depends = openssl
	options = !lto
	source = codeberg-cli-0.4.9.tar.gz::https://static.crates.io/crates/codeberg-cli/codeberg-cli-0.4.9.crate
	sha256sums = fc7de05901b7b1fe8699e32669f5e837d83b250bfc2da7d77dec2268cb97062c

pkgname = codeberg-cli
